In [16]:
import numpy as np 
import pandas as pd

In [36]:
df5 = pd.read_csv('/home/kami/Elo/elo_13_1_3.csv') #3.687
df7 = pd.read_csv('/home/kami/Elo/elo_13_3_4.csv') #3.687

In [37]:
df5.head()

           card_id    target
0  C_ID_0ab67a22ab -2.662669
1  C_ID_130fd0cbdd -0.364868
2  C_ID_b709037bc5 -0.850725
3  C_ID_d27d835a9f -0.110178
4  C_ID_2b5e3df5c2 -1.042012

In [39]:
df7.head()

           card_id    target
0  C_ID_0ab67a22ab -2.807716
1  C_ID_130fd0cbdd -0.357555
2  C_ID_b709037bc5 -1.001978
3  C_ID_d27d835a9f -0.114101
4  C_ID_2b5e3df5c2 -0.988485

In [40]:
df7['target'] = .5*df7['target'] + .5*df5['target']

In [41]:
df7.head() # 1 u 3, 3.687; 3 u 4, 3.687

           card_id    target
0  C_ID_0ab67a22ab -2.735192
1  C_ID_130fd0cbdd -0.361211
2  C_ID_b709037bc5 -0.926352
3  C_ID_d27d835a9f -0.112140
4  C_ID_2b5e3df5c2 -1.015249

In [43]:
df7.to_csv('elo_13_7_5.csv',index=False) #3.687